:host {
    background-blend-mode: lighten;
    mask-image: linear-gradient(rgb(0, 0, 0) 97%, transparent);
    height: 77vh;
    width: 100vh; 
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 0.4; /* Firefox */
}

.example-card {
    width: 80vh;
    min-height:30vh;
    padding: 10px 10px;
    margin-bottom: 15px;
    background-color: rgb(12, 12, 12);
    border: solid;
    border-radius: 15px;
    border-color: rgb(39, 39, 39);
    border-width: 1px;
}

.example-card:hover{
    transition: 1s;  
    box-shadow:  3px -3px 5px #002422, 3px -3px 5px #002422, 3px 3px 5px #002422, -3px 3px 5px #002422,-3px -3px 5px #002422;
}

.card-footer {
    margin: 0px 0px;
    padding: 0px 0px;;
    position: relative;
}

.card-buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.sorting{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 2%;
    padding: 5px 5px;
}

.paginator{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 2%;
    padding: 5px 5px;
}

.list-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    overflow: auto; 
}

.custom-chip{
    background-color: rgb(27, 26, 26) !important;
    height: 2.2vh;
}

.custom-card-content{
    flex-grow: 1; 
    overflow: auto; 
    border-radius: 14px;
    padding-top: 12px;
    min-height: 18vh;
    background-color: rgb(39, 39, 39);   
    color: white; 
    mask-image: linear-gradient(rgb(0, 0, 0) 98%, transparent);
}

.custom-card-header{
    margin-bottom: -10px; 
    z-index: 1; 
    padding:0px 0px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.custom-button{
    width: 40px!important;
    min-width: unset!important;
    padding: 0px 0px;
}

.btn-circle.btn-sm { 
    width: 60px; 
    height: 60px; 
    padding: 8px 14px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 

.card-content-1{
    /* display: block; */
    padding: 0px 0px;
    margin: 2px 0px 20px 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 300;
}

.card-content{
    padding: 7px 7px;
    /* display: inline-block; */
    /* vertical-align: middle; */
    line-height: 1rem;
    border: double;
    border-radius: 20px;
    border-width: 3px;
    border-color:rgb(39, 39, 39);
}

.date-span{
    margin-top:5px; 
    color: #bbb; 
    font-size: .8rem;
    display: block;
}

.custom-user{
    font-size: 1rem;
    margin-left: 2px;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color:  rgba(255, 255, 255, 0.25)!important;
}