<div *ngIf="is_authenticated()">
    <div class="sorting">
        <table matSort (matSortChange)="sortData($event)">
            <tr>
                <button mat-button style="color:whitesmoke;">
                    <th mat-sort-header="likes">Sort by Likes</th>
                </button>
                <button mat-button  style="color:whitesmoke;">
                    <th mat-sort-header="hates">Sort by Hates </th>
                </button>
            </tr>
        </table>
    </div>
    <div class="list-container">
        <mat-list class="list-mat" style="height: 65vh;">
            @for (movie of movie_list; track movie.id; let idx = $index) {
                <mat-card class="example-card" (mouseenter)="changeSelected(idx, true)" (mouseleave)="changeSelected(idx, false)">
                    <mat-card-header style=" display: flex; justify-content: center; align-items: center;">
                        <mat-chip-option [selected]="movie.selected" color="primary">
                            <mat-card-title>{{movie.title}}</mat-card-title>
                        </mat-chip-option>
                    </mat-card-header>
                    <mat-card-content class="card-content-1">
                        <div class="card-content" style="margin-top:-30px" >
                            <a style = "display: block;  color: white; font-size: 0.8rem;"> 
                                <i><mat-icon style="font-size:30px; margin-bottom: -2px; margin-right: 2px;">person</mat-icon> </i> 
                                <b><a class="custom-user" href="profile/{{movie.user?.username}}" >{{movie.user?.username}}
                                    @if(getUser()===movie.user?.username){
                                        <a>(you)</a>
                                    }
                                </a></b>
                            </a>
                            <span class="date-span">
                               <i>Created on:</i> {{movie.date}}
                            </span>
                        </div>
                        <div style="margin-top:-30px; margin-left: auto;" >
                              <button class="btn btn-lg btn-outline-primary" matTooltip="This functionality gathers the Movie title and tries to provide a summary of the movie. The more precise the title the better the answer!" 
                              style="color: white" (click)="open(movie)">
                                <mat-icon style="margin-bottom: -4px;">live_help</mat-icon>
                                Ask AI
                              </button>
                        </div>

                    </mat-card-content>
                    <mat-card-header class="custom-card-header">
                        <mat-chip  class="custom-chip">
                            Description
                          </mat-chip>
                    </mat-card-header>
                    <mat-card-content class="custom-card-content">
                        {{movie.description}}
                    </mat-card-content>
                    <mat-card-actions class="card-footer" >
                        @if(getUser()===movie.user?.username){
                            <mat-icon style="font-size:20px; margin-bottom: -10px; margin-right: -2px; color:whitesmoke"  matTooltip="You can't vote your own movies">info</mat-icon>
                        }
                        @if(movie.loading){<mat-spinner style="margin-bottom: -8px;" diameter="20"></mat-spinner>}
                        <div style="margin-left: auto;">
           
                            <button  mat-button class="custom-button" (click)="like(movie)" [disabled]="disableLikeButton(movie.user?.username, movie.review)">
                                <mat-icon style="margin-right:3px;"  [ngStyle]="{'color': getLikeColor(movie.review) }" >thumb_up</mat-icon> {{movie.likes}}
                            </button>
                            <button mat-button class="custom-button" (click)="hate(movie)" [disabled]="disableHateButton(movie.user?.username, movie.review)">
                                <mat-icon style="margin-right:3px;" [ngStyle]="{'color': getHateColor(movie.review) }" >thumb_down</mat-icon> {{movie.hates}}
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            }
            @empty {
                <li>There are no items.</li>
            }
        </mat-list>
    </div>
</div>